#page-dashboard-form {
    width: 100%;
    height: 100vh;
}

#page-dashboard-form .page-header .header-content {
    margin-bottom: 6.4rem;
}

#page-dashboard-form main {
    background: var(--secundary-color);
    width: 90%;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: -3.2rem auto 3.2rem;
    padding-top: 3.0rem;
    overflow: hidden;
}

#page-dashboard-form main fieldset {
    border: 0;
    padding-top: 0, 2.4rem;
}

#page-dashboard-form main fieldset + fieldset {
    margin-top: 6.4rem;
}

#page-dashboard-form main fieldset legend {
    font: 700 2.4rem Ubuntu;
    color: var(--text-color-white);
    margin-bottom: 2.4rem;
    margin-left: 1.0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--text-color-white);
}

#page-dashboard-form main fieldset .field-group{
    margin-top: 1.0rem;
}

#page-dashboard-form main fieldset legend button {
    background: none;
    border: 0;
    color: var(--color-primary);
    font: 700 1.6rem Archivo;
    cursor: pointer;
    transition: color 0.2s;
}

#page-dashboard-form main fieldset .map-aplication legend h3{
    font: 500 1.6rem Ubuntu;
}

#page-dashboard-form main fieldset .map-aplication legend span{
    font: 400 1.2rem Ubuntu;
    margin-right: 1.4rem;
}


#page-dashboard-form main fieldset legend button:hover {
    color: var(--color-primary-dark);
}

#page-dashboard-form main fieldset .input-block + .textarea-block,
#page-dashboard-form main fieldset .select-block + .input-block,
#page-dashboard-form main fieldset .textarea-block + .input-block {
    margin-top: 2.4rem;
}

#page-dashboard-form main label{
    color: var(--color-text-complement);
}

#page-dashboard-form main footer {
    padding: 4rem 2.4rem;
    background: var(--color-box-footer);
    border-top-color: 1px solid var(--color-line-in-white);
    margin-top: 3.4rem;
}

#page-dashboard-form main footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--tertiary-color);
}

#page-dashboard-form main footer button {
    width: 100%;
    height: 5.6rem;
    background: var(--tertiary-color);
    color: var(--text-color-white);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 500 1.6rem Roboto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 3.2rem;
}

#page-dashboard-form main footer button:hover {
    background: var(--tertiary-color-dark);
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    list-style: none;
}

.items-grid li {
    height: 140px;
    border-radius: 8px;
    padding: 32px 5px 16px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    text-align: center;
    background: #f5f5f5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
    cursor: pointer;

    margin-right: 1.0rem;
    margin-left: 1.0rem;
}

.items-grid li span {
    flex: 1;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 500;

    display: flex;
    align-items: center;
    color: var(--title-color)
}

.items-grid li.selected {
    background: #b2c9e9;
    border: 2px solid #092040;
  }

@media (min-width: 700px) {
    #page-dashboard-form {
        max-width: 100%;
    }

    #page-dashboard-form .page-header .header-content {
        margin-bottom: 0;
    }

    #page-dashboard-form main{
        margin: -2.0rem auto 2.0rem;
    }

    #page-dashboard-form main fieldset {
        padding: 0 6.8rem;
    }

    #page-dashboard-form main fieldset .field-group{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #page-dashboard-form main fieldset .field-group .input-block{
        margin-top: 0;
    }

    #page-dashboard-form main footer {
        padding: 4.0rem 6.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #page-dashboard-form main footer p {
        justify-content: space-between;
    }

    #page-dashboard-form main footer button {
        width: 20rem;
        margin-top: 0;
    }

    
.items-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    list-style: none;
  }
  
  .items-grid li {
    height: 180px;
    border-radius: 8px;
    padding: 32px 5px 16px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    text-align: center;
    background: #f5f5f5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
    cursor: pointer;
  }
  
  .items-grid li span {
    flex: 1;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 500;

    display: flex;
    align-items: center;
    color: var(--title-color)
  }
  
  .items-grid li.selected {
    background: #b2c9e9;
    border: 2px solid #092040;
  }


}