:root {
    --primary-color-background: #F5F5F5;
    --primary-color-button: #E85C4B;
    --secundary-color-button: #09354B;
    --secundary-color-button-hover: #05293C;
    --title-color: #092040;
    --text-color-white: #ffffff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

  body {
    background: #F0F0F5;
    -webkit-font-smoothing: antialiased;
  }
  